header{
    padding: 12px 20px;
    box-shadow: 0px 2px 4px #888;
    background: white;
    
}

 .menus{
    float: right;
}

.menu, a:hover{
    border-bottom: 2px solid #f08b18;
    margin-top: 3px;
    }

a{ 	padding: 0px 23px;
	text-decoration : none;
	font-family: 'Inconsolata', monospace;
    transition: border-bottom .10s;
    
}