
<div class="posts">
  <h3 > {{post.title}} </h3>
  <div class="row">
    <div class="col-md-4">
        
            <div class="post-image text-center"> <img [src]="post.urlToImage" alt="story image"> </div>
    
    </div>
    <div class="col-md-6 col-md-offset-2 ">
        <div>
            <p> {{post.content}} </p>
            <span class="badge badge-danger "> Date Published: {{post.publishedAt | date:'medium'}} </span> 
            <span class="badge badge-primary "> Post Author : {{post.author}} </span>
            <span class="badge badge-primary"> <i class="fa fa-share-alt"> Share on Twitter</i> </span>
            <span class="badge badge-info">  <i class="fa fa-eye"> Views</i></span>
            
          </div>
    </div>
  </div>
</div>



